/**
 * Table of Contents
 *
 * 1.0 - normalize
 * 2.0 - public
 * 3.0 - Swiper
 * 4.0 - loading
 * 5.0 - landscape
 * 6.0 - audio
 * 7.0 - index content
 * 8.0 - mobile content
 * 9.0 - compere content
 * 10.0 - economic content
 * 11.0 - media content
 * 12.0 - Pop-up layer content
 * 13.0 - chart content
 * 20.0 - animation
 	* 20.1 - animation infinite
 	* 20.2 - animation both
 * 21.0 - keyframes
 */


/**
 * 1.0 - normalize
 **/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:0 0}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
embed,img,object,video{max-width:100%}
/**
 * 2.0 - public
 **//*overflow:hidden;url(../img/album.jpg) no-repeat center; background-size: 100% 100%*/
.box-shadow{box-shadow: 0 0.0625em 0.3125em rgba(0, 0, 0, 0.4);}.fl{float:left}.fr{float:right}
.text-a-l{text-align:left}.text-a-r{text-align:right}.text-a-c{text-align: center;}.hide{display:none;}.block{display:block}.inline{display:inline}
.red{color:red;}.orange{color:orange;}.white{color:white}.gray{color:gray}.black{color:black;}
.clearfix:before, .clearfix:after{content: ""; display: table;}.clearfix:after{clear: both;}.clearfix{zoom: 1;}
div[class*="box-"],div[class^="box-"]{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body{width: 100%;height: 100%;overflow:hidden;margin:0;padding:0;}
.font-1em{ font-size:.8em;}
body{background:fixed #000 ;
  font-family:LiHei Pro Medium,Microsoft Yahei,SimSun,Arial,Helvetica,sans-serif;position:relative;color: #333;}
.trans-all{transition:all 1s linear}.opacity0{opacity:0;}.opacity1{opacity:1;}
.flexbox{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;height:100%;overflow-x:hidden;position:absolute;width:100%;}
.flex{-webkit-box-flex:1;-ms-flex:1;-webkit-flex:1;flex:1;overflow-y:auto;-webkit-overflow-scrolling:touch;overflow-x:hidden}
.bg-white{background-color: white;}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/**
 * 3.0 - Swiper
 **/
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination{bottom:10px;left:0;width:100%}.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 5px}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px)}.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow{z-index:0}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}
.container,.swiper-container,.swiper-slide {
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
}
/**
 * 4.0 - loading
 **/
.loadingWrap{
	position: fixed;
	width: 100%;
	height:100%;
	top: 0;
	z-index: 6000;
	background-color: rgba(0,0,0,.9999);
	background: #053957;
	background:-webkit-gradient(radial, 319 1000, 123, 407 377, 984,from(#0186ab), to(#06142e));
	background:gradient(radial, 319 1000, 123, 407 377, 984,from(#0186ab), to(#06142e));

}
.loadingInner{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}
.loadingNumber{
	width: 100%;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.loadingAnimate{
	position: relative;
	width: 300px;
	height: 190px;
	overflow: hidden;
}
.loadingAnimate span {
	position: absolute;
	background: url(../img/logo-loading.png) no-repeat left top;
	width: 300px;
	height: 190px;
	display: block;
}
.loadingAnimate .logo-b{
	top: 0;
	left: 0;
	z-index: 102;
}
.loadingAnimate .logo-n{
	background-position: left bottom;
	top: 0;
	left: 0;
	z-index: 101;
	opacity: 0;
}
/**
 * 5.0 - landscape
 **/
 #landscape_hinter {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #131313;
	z-index: 10000;
	display: none
}

#landscape_hinter .hinter_phone {
	width: 114px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -57px;
	background: url(../img/landscape_phone@2x.png) center center no-repeat;
	background-size: 114px 60px;
	-webkit-animation: rotateHint 2.6s ease-in infinite;
	animation: rotateHint 2.6s ease-in infinite
}
#landscape_hinter .hinter_rotate {
	width: 155px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -77px;
	background: url(../img/landscape_hint@2x.png) center center no-repeat;
	background-size: 155px 30px
}
#landscape_hinter .hinter_text {
	position: absolute;
	right: 0;
	bottom: 15%;
	left: 0;
	color: #bbb;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	line-height: 1
}
@-webkit-keyframes rotateHint {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: .2
	}

	50% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 1
	}

	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}
}

@keyframes rotateHint {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: .2
	}

	50% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 1
	}

	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}
}

@media screen and (orientation:landscape) {
	#landscape_hinter {
		display: block
	}	
}

/**
 * 6.0 - audio
 **/
#audioControl,
#audiocontainer{
	width: 60px;
	height: 60px;
	position: fixed;
	right: 5px;
	top: 5px;
	background-image: url(../img/audio/music.png);
	background-repeat: no-repeat;
	background-position: 0 -60px;
	z-index: 6000;
	opacity: 1;
}
#audiocontainer{
  background: none;
}
#audioControl.play{
	background-position: 0 0;
	animation: rotate360 5s infinite linear;
	-webkit-animation: rotate360 5s infinite linear;
}
/**
 * 7.0 - index content
 **/


/**
 * 21.0 - keyframes
 **/
/* 定义关键帧 */
.gallery,
.gallery2{
  width: 100%;
  position: relative;
  padding: 20px 0;
  padding-bottom: 90px;
}
.gallery a{
  display: block;
  width: 44%;
  height: auto;
  float: left;
  margin-left: 4%;
  position: relative;
  padding: 10px;
  background-color: rgba(255,255,255,.2);
  margin-bottom: 20px;
}
.gallery a img{
  position: relative;
  width: 100%;
  z-index: 1;
}
.gallery a figure{
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color:rgba(0,0,0,.4);
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
.gallery2 {
}
.gallery2 a{
  width: 91%;
  float: none;
}
.menu{
  background: rgba(0,0,0,1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}
.menu ul{
  line-height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  float: left;
}
.menu ul li a{
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.bNav,
.bNav .swiper-wrapper,
.bNav .swiper-slide
{
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.bNav{
  background: hsla(0,0%,0%,.6);
  /*padding: 0 50px;*/
  /*width: auto;*/
  position: fixed;
  bottom: 0;
  z-index: 100;

}
.bNav .swiper-slide{
  font-size: 1.6rem;
  text-align: center;
}
.bNav .swiper-slide a{
  display: block;
  width: 70%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  margin-left:15%;

}
.bNav .swiper-slide a:hover,
.bNav .swiper-slide a:focus{
  color: #fff;
  outline: none;
}

.ad .swiper-slide{
  height: auto;
}


.adCont{
  visibility: hidden;
  margin-top: 4000px;
}
.adWelcome{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  /*background-color: hsla(0,0%,0%,1);*/
}
.adWelcome .box-text{
  list-style: none;
  width: 100%;
  height: 200px;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
  z-index: 2;
  top: 10%;
}
.adWelcome .box-text li{
  text-align: center;
  line-height: 50px;
}
.adWelcome .J_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
}
.adWelcome .btn{
  width: 80%;
  height: 120px;
  text-align: center;
  text-indent: -2.6em;
  line-height: 120px;
  border-radius: 120px;
  background-color: rgba(255,255,255,.2);
  color: #fff;
  font-size: 2.4rem;
  position: relative;
}
.adWelcome .btn-enter{
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -140px;
  text-align: center;
  padding-left:100px;
  text-indent: 0;
}
.adWelcome .icon-arrow-right2{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 40px;
  top: 8px;
}
.adWelcome .t-advert{
  list-style: none;
  padding: 0;
  position: absolute;
  width: 620px;
  height: 330px;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left:-310px;

}
.adWelcome .t-advert li{
  background: url(../img/p1/p1-s5.png) no-repeat;
  position: absolute;
}
.adWelcome .t-advert .t-notbook{
  background-position: 0 0;
  width: 326px;
  height: 270px;
  z-index: 12;
  left: 50%;
  margin-left: -163px;
  margin-top: 0;
}
.adWelcome .t-advert .t-phone{
  background-position: -368px 0;
  width: 76px;
  height: 110px;
  z-index: 13;
  right: 120px;
  bottom: 40px;
}
.adWelcome .t-advert .t-cloud-s{
  background-position: -368px -240px;
  width: 78px;
  height: 50px;
  z-index: 11;
  right: 40px;
  top: 100px;
}
.adWelcome .t-advert .t-cloud-b{
  background-position: -368px -148px;
  width: 120px;
  height: 76px;
  z-index: 11;
  left: 40px;
  top: 10px;
}
.adWelcome .t-advert .t-tree{
  background-position: 0 -740px;
  width: 596px;
  height: 126px;
  z-index: 9;
  bottom: 55px;
  left: 20px;
}
.adWelcome .t-advert .t-hill{
  background-position: 0 -460px ;
  width: 580px;
  height: 240px;
  z-index: 8;
  bottom: 70px;
  left: 35px;
}
.adWelcome .t-advert .t-platform{
  background-position: 0 -324px;
  width: 620px;
  height: 100px;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.adWelcome .J_bg,
.adWelcome .box-text li,
.adWelcome .btn-enter,
.adWelcome .t-advert li{
  display: none;
}

.enterAdPlay .t-advert .t-cloud-s{
  -webkit-animation:cloudS 15s infinite ease-in-out;
  -moz-animation:cloudS 15s infinite ease-in-out;
  animation:cloudS 15s infinite ease-in-out;
}
.enterAdPlay .t-advert .t-cloud-b{
  -webkit-animation:cloudB 15s infinite ease-in-out;
  -moz-animation:cloudB 15s infinite ease-in-out;
  animation:cloudB 15s infinite ease-in-out;
}

.adv{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: #b38f04 url(../img/album/adv/bg.jpg) no-repeat left bottom;
  background-size: 100% auto;*/
  /*background:-webkit-gradient(radial, 319 1000, 123, 407 377, 984,from(#b38f04), to(#635208));
  background:gradient(radial, 319 1000, 123, 407 377, 984,from(#b38f04), to(#635208));*/
  /*background: rgba(190,153,3,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(190,153,3,1) 0%, rgba(98,82,9,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(190,153,3,1)), color-stop(100%, rgba(98,82,9,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(190,153,3,1) 0%, rgba(98,82,9,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(190,153,3,1) 0%, rgba(98,82,9,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(190,153,3,1) 0%, rgba(98,82,9,1) 100%);
background: radial-gradient(ellipse at center, rgba(190,153,3,1) 0%, rgba(98,82,9,1) 100%);*/
}

.adv .main {
  display: none;
  position: absolute;
  width: 536px;
  height: 455px;
  left: 50%;
  top: 50%;
  margin-left: -268.5px;
  margin-top: -340px;
}
.adv .J_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
}
.adv .main ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 536px;
  height: 455px;
  -webkit-animation: y 45s linear 0s infinite;
  -moz-animation: y 45s linear 0s infinite;
  -ms-animation: y 45s linear 0s infinite;
  animation: y 45s linear 0s infinite;
  /*主ui转动速度*/

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -ms-perspective: 3000px;
  perspective: 3000px;
}
.adv .main ul li{
  position: absolute;
  width: 536px;
  height: 455px;
  line-height: 455px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: All 1s 0s;
  -moz-transition: All 1s 0s;
  -ms-transition: All 1s 0s;
  transition: All 1s 0s;
}

.adv .main ul li:nth-of-type(1) {
  -webkit-transform:translateZ(10px);
  transform:translateZ(10px);
}
.adv .main ul li:nth-of-type(2) {
  -webkit-transform:translateZ(40px);
  transform:translateZ(40px);
}
.adv .main ul li:nth-of-type(3) {
  -webkit-transform:translateZ(70px);
  transform:translateZ(70px);
}
.adv .main ul li:nth-of-type(4) {
  -webkit-transform:translateZ(-10px) rotateY(180deg);
  transform:translateZ(-10px) rotateY(180deg);
}
.adv .main ul li:nth-of-type(5) {
  -webkit-transform:translateZ(-40px) rotateY(180deg);
  transform:translateZ(-40px) rotateY(180deg);
}
.adv .main ul li:nth-of-type(6) {
  -webkit-transform:translateZ(-70px) rotateY(180deg);
  transform:translateZ(-70px) rotateY(180deg);
}

.adv .main ul div {
  position: absolute;
  width: 679px;
  height: 679px;
  left: 50%;
  top: 50%;
  margin-left: -339.5px;
  margin-top: -400px;
  -webkit-transform: translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1);
  -moz-transform: translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1);
  -ms-transform: translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1);
  transform: translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1);
}
.adv .main ul div img {
  -webkit-animation: z 5s linear 0s infinite;
  -moz-animation: z 5s linear 0s infinite;
  -ms-animation: z 5s linear 0s infinite;
  animation: z 5s linear 0s infinite;
}
.adv .btn{
  width: 80%;
  height: 120px;
  text-align: center;
  text-indent: -2.6em;
  line-height: 120px;
  border-radius: 120px;
  border: 2px solid rgba(255,120,0,1);
  background-color: rgba(255,120,0,.6);
  color: #fff;
  font-size: 2.4rem;
  position: relative;
}
.adv .btn-enter{
  position: absolute;
  bottom: -600px;
  left: 10%;
  text-align: center;
  padding-left:100px;
  text-indent: 0;
}
.adv .icon-arrow-right2{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 40px;
  top: 8px;
}
.round{
  background: url(../img/album/adv/ball.png) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -1;
  display: none;
}
.round-1{
  width: 200px;
  height: 200px;
  left: 10px;
  top: 10px;
  animation: triangle3d-li-1 20s infinite linear;
  -webkit-animation: triangle3d-li-1 20s infinite linear;
  opacity: .6
}
.round-2{
  width: 150px;
  height: 150px;
  opacity: .6;
  top: 5%;
  right: 5%;
  animation: triangle3d-li-2 20s infinite linear;
  -webkit-animation: triangle3d-li-2 20s infinite linear;
}
.round-3{
  width: 300px;
  height: 300px;
  opacity: .6;
  bottom: 5%;
  right: 10%;
  animation: triangle3d-li-3 20s infinite linear;
  -webkit-animation: triangle3d-li-3 20s infinite linear;
}
@-webkit-keyframes triangle3d-li-1 {
  0% {
      left: 15px;top: 50px;
  }
  20% {
      left: 30px;top: 30px;
  }
  40% {
      left: 20px;top: 20px;
  }
  60% {
      left: 10px;top: 10px;
  }
  80% {
      left: 40px;top: 10px;
  }
  100% {
      left: 15px;top: 50px;
  }
}
@-webkit-keyframes triangle3d-li-2 {
  0% {
      right: 40px;top: 100px;
  }
  20% {
      right: 80px;top: 40px;
  }
  40% {
      right: 30px;top: 120px;
  }
  60% {
      right: 90px;top: 30px;
  }
  80% {
      right: 30px;top: 120px;
  }
  100% {
      right: 40px;top: 100px;
  }
}
@-webkit-keyframes triangle3d-li-3 {
  0% {
  bottom: 5%;
  right: 10%;
  }
  20% {
  bottom: 11%;
  right: 2%;
  opacity: 1;
  }
  40% {
  bottom: 6%;
  right: 2%;
  opacity: .5;
  }
  60% {
  bottom: 12%;
  right: 8%;
  opacity: .8;
  }
  80% {
  bottom: 14%;
  right: 12%;
  opacity: 1;
  }
  100% {
  bottom: 5%;
  right: 10%;
  }
}

@-webkit-keyframes y {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  to {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
}
@-webkit-keyframes z {
  from {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  to {
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
  }
}
@keyframes cloudB {
  from {-webkit-transform: translate3d(0, 0, 0);}
  25%{
    -webkit-transform: translate3d(60px, 20px, 0);
  }
  50%{
    -webkit-transform: translate3d(-10px, -5px, 0);
  }
  75%{
    -webkit-transform: translate3d(30px, -30px, 0);
  }
  to {-webkit-transform: translate3d(0, 0, 0);}

}
@-webkit-keyframes cloudB{
  from {-webkit-transform: translate3d(0, 0, 0);}
  25%{
    -webkit-transform: translate3d(60px, 20px, 0);
  }
  50%{
    -webkit-transform: translate3d(-10px, -5px, 0);
  }
  75%{
    -webkit-transform: translate3d(30px, -30px, 0);
  }
  to {-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes cloudS {
  from {-webkit-transform: translate3d(0, 0, 0);}
  25%{
    -webkit-transform: translate3d(-30px, 30px, 0);
  }
  50%{
    -webkit-transform: translate3d(10px, 5px, 0);
  }
  75%{
    -webkit-transform: translate3d(-60px, -20px, 0);
  }
  to {-webkit-transform: translate3d(0, 0, 0);}

}
@-webkit-keyframes cloudS{
  from {-webkit-transform: translate3d(0, 0, 0);}
  25%{
    -webkit-transform: translate3d(-30px, 30px, 0);
  }
  50%{
    -webkit-transform: translate3d(10px, 5px, 0);
  }
  75%{
    -webkit-transform: translate3d(-60px, -20px, 0);
  }
  to {-webkit-transform: translate3d(0, 0, 0);}
}



@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}




